name: build
on:
  workflow_call:
jobs:
  build-pyinstaller:
    strategy:
      matrix:
        python-version: ["3.10"]
        # os: [ubuntu-latest, windows-latest]
        os: [ubuntu-latest, windows-latest,macos_latest]
        include:
          - os: windows-latest
            shell: cmd /C call {0}
          - os: ubuntu-latest
            shell: bash -l {0}
          # - os: macos-latest
          #   shell: bash -l {0}
    uses: ./.github/workflows/build_pyinstaller.yml
    with:
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
      shell: ${{ matrix.shell }}
  build-constructor:
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            shell: bash -l {0}
    uses: ./.github/workflows/build_constructor.yml
    with:
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
      shell: ${{ matrix.shell }}
