name: Build constructors for different Python versions
on:
  workflow_dispatch:
jobs:
  build-constructor:
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            shell: bash -l {0}
    uses: ./.github/workflows/build_constructor_aux.yml
    with:
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
      shell: ${{ matrix.shell }}
