name: Build and publish ZIPs when release
on:
  push:
    tags:
      - "*"
jobs:
  build:
    uses: ./.github/workflows/build_workflow.yml
  release:
    needs: build
    permissions:
      contents: write
    runs-on: [self-hosted, dl4miceverywhere-builder]
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "**/*"